mat-checkbox {margin-right: 40px;}
table {margin-top: 20px; width:100%;}
.right {text-align: right;}
.center {text-align: center;}
.left {text-align: left;}

.mat-header-cell {
    padding: 0px 15px 0px 15px;
}
.mat-cell {
    padding: 0px 15px 0px 15px;
}

.warning {
    background-color: orangered;
    color: white;
    margin-bottom: 15px;
}
.hide{
    display: none;
 }